{% extends "base.html" %}
{% load i18n admin_static %}


{% block content %}

<div id="content-main">

<form method="post" class="form-horizontal">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>


{{ form.old_password.errors }}
<div class="form-group"><label class="col-md-3 control-label" for="id_old_password">Old Password</label><div class="col-md-9"><input class="form-control" id="id_old_password" name="
old_password" placeholder="Old Password" required="required" title="" type="password"></div></div>

{{ form.new_password1.errors }}
<div class="form-group"><label class="col-md-3 control-label" for="id_new_password1">New Password</label><div class="col-md-9"><input class="form-control" id="id_new_password1" name
="new_password1" placeholder="New Password" required="required" title="" type="password"></div></div>

{{ form.new_password2.errors }}
<div class="form-group"><label class="col-md-3 control-label" for="id_new_password2">New Password Confirmation</label><div class="col-md-9"><input class="form-control" id="id_new_pa
ssword2" name="new_password2" placeholder="New Password" required="required" title="" type="password"></div></div>

{% if form.new_password1.help_text %}
   <p class="help">{{ form.new_password1.help_text|safe }}</p>
{% endif %}

{% if form.new_password2.help_text %}
   <p class="help">{{ form.new_password2.help_text|safe }}</p>
{% endif %}


<div class="submit-row">
     <button type="submit" class="btn btn-primary">Change my Password</button>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}


