<html lang="en-us" >
<head>
<title>Welcome to Dravate</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<meta name="robots" content="NONE,NOARCHIVE" />

</head>

<body class=" login"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/login/">Welcome to Dravate</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->

 <!-- Content -->
    <div id="content" class="colM">
        
<div id="content-main">


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
<div class="form-row">
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</div>

</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
 <input type="hidden" name="next" value="{{ next }}" />
 <div class="submit-row">
    <input type="submit" value="Log in" />
  </div>
</form>

</div>

</div>

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>


